@use "../../../../styles/spacing.scss";
@use "../../../../styles/colors.scss";
@use "../../../../styles/font.scss";

.wrapper {
  display: flex;
  gap: spacing.$indent-12;

  button {
    font-family: font.$font-family;
    text-decoration: underline;
    width: max-content;
    display: flex;
    padding: spacing.$indent-8 spacing.$indent-12;
    align-items: center;
    gap: spacing.$indent-4;
    border: none;
    border-radius: spacing.$border-radius-20;
    font-size: font.$font-size-s;
    font-weight: font.$font-weight-bold;
    color: colors.$shisha-coal;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: colors.$white-smoke;
    }
  }
}
