.wrapper {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 8vh;
    align-items: center;


    .icon-wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            background-color: white;
            height: 80px;

            .icon-button-title {
                color: #7c60d2;
                font-size: x-large;
                font-weight: bolder;

            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .settings-wrapper {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .rent-out-button-wrapper {


            .rent-out-button {
                border: none;
                background-color: white;
                height: 40px;
                font-size: 14px;
                font-weight: bold;
                color: rgb(61, 60, 60);

                &:hover {
                    cursor: pointer;
                    background-color: whitesmoke;
                    border-radius: 10px;
                }
            }


        }

        .languageButtonWrapper {

            .languageButton {
                border: none;
                background-color: white;
                height: 40px;
                width: 40px;

                &:hover {
                    cursor: pointer;
                    background-color: whitesmoke;
                    border-radius: 50%;
                }
            }
        }

        .profileButtonWrapper {

            .profileButton {
                border: 1px solid rgb(158, 158, 158) ;
                background-color: white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 20px;
                width: 80px;
                height: 40px;

                &:hover {
                    box-shadow: 2px 3.2px 6px 2px rgb(126, 126, 126) ;
                }
            }
        }
    }

}