@use "../../styles/breakpoints.scss";
@use "../../styles/font.scss";
@use "../../styles/colors.scss";
@use "../../styles/spacing.scss";

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 2520px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 auto;

    @include breakpoints.md-breakpoint {
      padding: 20px 80px;
    }

    .title {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-weight: font.$font-weight-bold;
      font-family: font.$font-family;

      .titleText {
        font-size: font.$font-size-lg;
        display: flex;
      }

      .titleButtons {
        display: flex;
        gap: 10px;

        .buttonWrapper {
          .buttonText {
            font-size: font.$font-size-s;
            text-decoration: underline;
          }

          button {
            width: 100px;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            border: none;
            border-radius: spacing.$border-radius-md;
            font-size: font.$font-size-s;
            font-weight: font.$font-weight-bold;
            font-family: font.$font-family;
            color: colors.$shisha-coal;


            &:hover {
              background-color: colors.$white-smoke;
            }
          }
        }
      }
    }

    .images {
      width: 70%;
      display: flex;
      gap: 10px;
      max-height: 560px;

      .main {
        width: 50%;
        max-width: 565px;
        img {
          height: 560px;
          max-width: 560px;
          width: 100%;
        }
      }

      .mosaic {
        width: 49%;
        max-width: 565px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;

        img {
          width: 50%;
          max-width: 272px;
          height: 272px;
        }
      }
    }
  }
}
