$astro-purple: rgb(124, 96, 210);
$shisha-coal: rgb(60, 60, 60);
$white-smoke: rgb(245, 245, 245);
$mortar-grey: rgb(158, 158, 158);
$aged-moustache-grey: rgb(126, 126, 126);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$black-transparent: rgba(0, 0, 0, 0.2);
