$font-weight-bold: 900;
$font-weight-medium: 500;
$font-weight-light: 300;
$font-size-lg: 28px;
$font-size-md: 24px;
$font-size: 20px;
$font-size-s: 14px;
$header-style: monospace;
$font-family: "Montserrat", sans-serif;
