$border-radius-20: 20px;
$border-radius-10: 10px;
$border-radius-round: 50%;
$indent-4: 4px;
$indent-8: 8px;
$indent-12: 12px;
$indent-16: 16px;
$indent-20: 20px;
$indent-32: 32px;
$indent-40: 40px;
$indent-80: 80px;
$indent-120: 120px;
