@use "../../styles/spacing.scss";
@use "../../styles/font.scss";
@use "../../styles/colors.scss";
@use "../../styles/breakpoints.scss";

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  font-size: font.$font-size-s;
  font-family: font.$font-family;
  color: colors.$shisha-coal;
  cursor: pointer;
  position: relative;

  @include breakpoints.sm-breakpoint {
    width: 45%;
  }

  @include breakpoints.md-breakpoint {
    width: 30%;
  }

  @include breakpoints.lg-breakpoint {
    width: 22%;
  }

  @include breakpoints.xxl-breakpoint {
    width: 15%;
  }

  .titleBox {
    display: flex;
    justify-content: space-between;
    font-weight: font.$font-weight-bold;

    .rating {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .price {
    font-weight: font.$font-weight-bold;
  }
}
