@use "../../styles/spacing.scss";
@use "../../styles/font.scss";
@use "../../styles/colors.scss";
@use "../../styles/breakpoints.scss";

.wrapper {
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  font-size: font.$font-size-s;
  font-family: font.$font-family;
  color: colors.$shisha-coal;
  cursor: pointer;
  position: relative;

  .titleBox {
    display: flex;
    justify-content: space-between;
    font-weight: font.$font-weight-bold;

    .rating {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .price {
    font-weight: font.$font-weight-bold;
  }
}
