@use "../../styles/breakpoints.scss";
@use "../../styles/spacing.scss";

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 2520px;
  padding: 0 spacing.$indent-120;
  @include breakpoints.lg-breakpoint {
    padding: 0 spacing.$indent-80;
  }
}
