@use "../../../../styles/colors.scss";
@use "../../../../styles/font.scss";
@use "../../../../styles/spacing.scss";

.wrapper {
  position: sticky;
  top: spacing.$indent-80;
  left: 0;
  font-family: font.$font-family;
  padding: spacing.$indent-20;
  border: 1px solid colors.$mortar-grey;
  border-radius: spacing.$border-radius-20;
  width: 300px;
  height: max-content;

  .title {
    font-size: font.$font-size-s;
    font-weight: font.$font-weight-medium;

    .bold {
      font-weight: font.$font-weight-bold;
      font-size: font.$font-size-md;
    }
  }

  .choose-wrapper {
    margin: spacing.$indent-20 0;
  }

  .subtitle {
    font-size: font.$font-size-s;
    text-align: center;
    letter-spacing: 0.8px;
    margin: spacing.$indent-12;

    .link {
      color: colors.$black;
      padding: 0 spacing.$indent-4;
      display: inline;
      &:hover {
        color: colors.$astro-purple;
        text-decoration: underline;
      }
    }
  }

  .price {
    display: flex;
    justify-content: space-between;
    padding-top: spacing.$indent-16;
    font-weight: font.$font-weight-light;

    .underlined {
      text-decoration: underline;
    }

    &-final {
      width: 100%;
      padding-top: spacing.$indent-32;
      margin: spacing.$indent-20 0;
      position: relative;
      display: flex;
      justify-content: space-between;

      &::before {
        content: "";
        position: absolute;
        top: spacing.$indent-8;
        width: 100%;
        height: 1px;
        background-color: colors.$mortar-grey;
      }
    }
  }
}
