@use "../../../../../styles/spacing.scss";
@use "../../../../../styles/colors.scss";
@use "../../../../../styles/font.scss";
.modal {
  background-color: colors.$white;
  overflow-y: scroll;
  height: 100%;

  &Buttons {
    background: colors.$white;
    display: flex;
    height: 60px;
    padding: 0 30px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
  }
  &Back {
    border: none;
    width: 34px;
    height: 34px;
    border-radius: spacing.$border-radius-round;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: colors.$white-smoke;
    }
  }
  &Content {
    background-color: colors.$white;
    padding: 40px 120px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 10px;

    &Big {
      grid-column: 1/3;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
