@use "../../styles/font.scss";
@use "../../styles/colors.scss";

.wrapper {
  position: sticky;
  display: flex;
  height: 100px;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 50px 0 50px;
  justify-content: space-around;

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-button {
      display: flex;
      align-items: center;
      border: none;

      .icon-button-title {
        color:colors.$icon-color;
        font-size: font.$font-size-lg;
        font-weight: font.$bold;
        font-family: font.$header-style;
      }
    }
  }

  .settings-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .rent-out-button-wrapper {
      .rent-out-button {
        border: none;
        border-radius: font.$border-radius;
        font-size: font.$font-size-s;
        font-weight: font.$bold;
        font-family: font.$header-style;
        color: colors.$header-font-color;
        padding: 12px;

        &:hover {
          background-color: colors.$button-background-color;
        }
      }
    }

    .languageButtonWrapper {
      .languageButton {
        border: none;
        border-radius: font.$border-radius;
        padding: 8px;

        &:hover {
          background-color: colors.$button-background-color;
        }
      }
    }

    .profileButtonWrapper {
      .profileButton {
        border: 1px solid colors.$border-grey;
        display: flex;
        align-items: center;
        border-radius: font.$border-radius;
        gap: 8px;
        padding: 8px;

        &:hover {
          box-shadow: 2px 3.2px 6px 2px colors.$shadow-grey;
        }
      }
    }
  }
}
