@use "../../styles/font.scss";
@use "../../styles/colors.scss";
@use "../../styles/spacing.scss";
@use "../../styles/breakpoints.scss";

.wrapper {
  position: sticky;
  display: flex;
  height: 80px;
  align-items: center;
  top: 0;
  left: 0;
  justify-content: space-between;
  background-color: colors.$white;
  z-index: 200;

  .icon-wrapper {
    display: flex;
    align-items: center;

    @include breakpoints.md-breakpoint {
      width: auto;
    }
    .icon-button {
      display: flex;
      align-items: center;
      border: none;

      .icon-button-title {
        color: colors.$astro-purple;
        font-size: font.$font-size-lg;
        font-weight: font.$font-weight-bold;
        font-family: font.$font-family;
        padding-top: spacing.$indent-12;
        display: none;

        @include breakpoints.md-breakpoint {
          display: block;
        }
      }
    }
  }

  .settings-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: spacing.$indent-40;
    align-items: center;
    width: 70%;

    @include breakpoints.sm-breakpoint {
      width: 50%;
    }
    @include breakpoints.md-breakpoint {
      justify-content: center;
      width: auto;
    }
    button {
      width: 40px;
      height: 40px;
      padding: spacing.$indent-12;
      border: none;
      border-radius: spacing.$border-radius-20;
      color: colors.$shisha-coal;
      transition: all 0.2s ease-in;
      &:hover {
        background-color: colors.$white-smoke;
      }
      .icon {
        width: 40px;
        height: 40px;
      }
    }

    .rent-out-button {
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoints.md-breakpoint {
        display: none;
      }
    }
    .rent-out-button-long {
      display: none;
      width: fit-content;
      font-size: font.$font-size-s;
      font-weight: font.$font-weight-bold;
      font-family: font.$font-family;
      justify-content: center;
      align-items: center;
      @include breakpoints.md-breakpoint {
        display: flex;
      }
    }
    .profileButton {
      border: 1px solid colors.$mortar-grey;
      display: flex;
      align-items: center;
      width: fit-content;
      gap: spacing.$indent-20;

      &:hover {
        background-color: none;
        box-shadow: 2px 2px 4px 2px colors.$mortar-grey;
      }
    }
  }
}
