@use "../../../styles/colors.scss";
@use "../../../styles/font.scss";
@use "../../../styles/spacing.scss";

.title {
  font-weight: font.$font-weight-medium;
  padding: spacing.$indent-8;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  background-color: colors.$white;
  top: 0;
  width: 100%;
}

.container {
  display: flex;
  padding: spacing.$indent-8 spacing.$indent-8 spacing.$indent-12
    spacing.$indent-8;
  gap: spacing.$indent-8;
  border-bottom: 1px solid colors.$mortar-grey;
}

.image {
  width: 150px;

  img {
    width: 100%;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: spacing.$indent-8;
  font-size: font.$font-size-s;

  .description-title {
    color: colors.$black;
    font-weight: font.$font-weight-medium;
  }

  .description-date {
    color: colors.$mortar-grey;
    font-weight: font.$font-weight-light;
    font-size: font.$font-size-xs;
  }

  .description-nights {
    color: colors.$shisha-coal;
    font-weight: font.$font-weight-light;
  }

  .description-price {
    font-weight: font.$font-weight-bold;
  }
}

.empty {
  text-align: center;
  margin: spacing.$indent-80 0;
  color: colors.$mortar-grey;
  font-weight: font.$font-weight-light;
}
