@use '../../styles/colors.scss';

.wrapper {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: colors.$white;
  z-index: 200;


  .title {
    color: colors.$shisha-coal;
  }
}
