@use "../../../../styles/colors.scss";
@use "../../../../styles/font.scss";
@use "../../../../styles/spacing.scss";
.form {
  display: flex;
  flex-direction: column;
  padding: spacing.$indent-20 0;
  padding-top: 0;

  .input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid colors.$mortar-grey;
    padding: 0 spacing.$indent-8;
    margin: 0 auto;
    margin-top: spacing.$indent-20;
    font-weight: font.$font-weight-medium;
    outline: none;
    transition: all 0.3s;

    &:focus {
      box-shadow: 0 0 5px 1px colors.$astro-purple;
    }

    &::placeholder {
      font-weight: font.$font-weight-light;
      color: colors.$mortar-grey;
    }
  }

  .error {
    font-size: font.$font-size-xs;
    color: colors.$red-power;
    padding: spacing.$indent-4 0 0 spacing.$indent-4;
  }
}
