@use "../../styles/colors.scss";
@use "../../styles/font.scss";
@use "../../styles/spacing.scss";

.preference-box {
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40%;
  padding: spacing.$indent-8 spacing.$indent-16;
  width: 100%;

  .preference {
    background-color: colors.$white;
    border-radius: spacing.$border-radius-10;
    font-family: font.$font-family;
    font-weight: font.$font-weight-medium;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px colors.$aged-moustache-grey;
    text-align: center;
  }

  .heart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      border: none;
      border-radius: 50%;
      padding: spacing.$indent-4;
      transition: transform 0.2s ease-in;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
