@use "../../styles/breakpoints.scss";
@use "../../styles/font.scss";
@use "../../styles/colors.scss";
@use "../../styles/spacing.scss";

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 2520px;
  padding: 0 spacing.$padding-md;
  @include breakpoints.lg-breakpoint {
    padding: 0 spacing.$indent-120;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 auto;
    font-family: font.$font-family;
  }
  .info-and-booking {
    margin-top: spacing.$indent-40;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
}
