@use "../../styles/colors.scss";
@use "../../styles/spacing.scss";

.confirm-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: spacing.$indent-20;
  height: 40px;
  padding: spacing.$indent-12;
  border: none;
  background-color: colors.$astro-purple;
  border-radius: spacing.$border-radius-10;
  color: colors.$white;
  box-shadow: none;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 1px 9px 0px colors.$mortar-grey;
  }
}
